form {
    margin-top: 3rem;
}

form input[name="city"], form input[name="country"] {
    background-color: transparent;
    color: white;
    border-bottom: 2px solid whitesmoke!important;
    border-radius: 0;
    border: 0;
}

form input:focus {
    background: transparent!important;
    box-shadow: none!important;
    color: white;
    border-bottom: 2px solid yellow;
}

::placeholder {
    color: white;
}